<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css')}}" />
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js')}}"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>IsitRaining?</h1>
      </div>
    </div>
    
    <table>
    <caption>{{lat}},{{log}}</caption>   
  <caption>The Answer is {{isitraining}}</caption>
  
</table>

    <script src="{{ url_for('static', filename='js/vendor/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
